*.mod
*.o
*.dirstamp
*.Po
Makefile
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
depcomp
Makefile.in
!tests/*/*Makefile.in
libneko.a
.vscode
neko.pc
install-sh
configure
configure~
cltostring.sh
device_config.h
neko_config.f90
num_types.f90
comm.F90
missing
test-driver
tests/*/*.log
tests/*/*.F90
tests/*/*.inc
tests/*/*.trs
Doxyfile
doxygen.stamp
doc/html
examples/*/*.nek5000
examples/*/*0.f0*
*.chkp
*.lst

# Binaries
neko
makeneko
rea2nbin
genmeshbox
prepart
average_field_in_space
average_fields_in_time
postprocess_fluid_stats
map_to_equidistant_1d
calc_lift_from_field
