*.mod
*.o
*.dirstamp
*.Po
Makefile
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
depcomp
Makefile.in
!tests/*/*Makefile.in
genmeshbox
prepart
rea2nbin
libneko.a
.vscode
neko
neko.pc
install-sh
configure
cltostring.sh
device_config.h
neko_config.f90
num_types.f90
comm.F90
makeneko
missing
test-driver
tests/*/*.log
tests/*/*.F90
tests/*/*.inc
tests/*/*.trs
Doxyfile
doxygen.stamp
doc/html
examples/*/*.nek5000
examples/*/*0.f0*


