# Ignore everything which does not have an extension or are a directory
*
!*.*
!*/

# Exceptions to the no-extension rule
!AUTHORS
!COPYING

# General list of files to ignore
*.mod
*.smod
*.o
*.dirstamp
*.Po
Makefile
!tests/bench/**/Makefile
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
depcomp
Makefile.in
libneko.a
.vscode
neko.pc
install-sh
configure
configure~
cltostring.sh
device_config.h
neko_config.f90
num_types.f90
comm.F90
missing
test-driver
Doxyfile
doxygen.stamp
doc/html
examples/*/*.nek5000
examples/*/*0.f0*
*.chkp
*.lst

# Ignore temporary files
*~
*.swp

# Explicitly ignore binaries to avoid confusion
neko
makeneko
rea2nbin
genmeshbox
prepart
average_field_in_space
average_fields_in_time
postprocess_fluid_stats
map_to_equidistant_1d
calc_lift_from_field
