&NEKO_CASE
mesh_file= '$mesh_file'
fluid_scheme='$fluid_scheme'
lx = 8
source_term = 'noforce'
initial_condition = 'user'
/
&NEKO_PARAMETERS
dt = $dt
T_end = 20
nsamples = 2
rho = 1
Re = 1600
abstol_vel = $abstol_vel
abstol_prs = $abstol_prs
pc_vel = 'jacobi'
pc_prs = 'hsmg'
proj_dim = 20
/
