name: GNU Fortran

# Controls when the action will run.
on:
  push:
    branches:
      - develop

  workflow_call:
    inputs:
      json-fortran-version:
        description: "The version of the JSON-Fortran library to use."
        type: string
        required: false
        default: "8.4.0"
      pfunit-version:
        description: "The version of the pFUnit library to use."
        type: string
        required: false
        default: "v4.15.0"

jobs:
  GNU:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15]
        compiler: [gfortran-12, gfortran-13, gfortran-14, gfortran-15]
        backend: [cpu, cuda, hip, opencl]
        precision: [sp, dp]
        exclude:
          - os: ubuntu-24.04
            backend: opencl
          - os: ubuntu-24.04-arm
            backend: cuda
          - os: ubuntu-24.04-arm
            backend: hip
          - os: ubuntu-24.04-arm
            backend: opencl
          - os: ubuntu-24.04-arm
            compiler: gfortran-12
          - os: ubuntu-24.04-arm
            compiler: gfortran-13
          - os: ubuntu-24.04-arm
            compiler: gfortran-15
          - os: ubuntu-24.04
            compiler: gfortran-15
          - os: macos-15
            compiler: gfortran-12
          - os: macos-15
            compiler: gfortran-13
          - os: macos-15
            compiler: gfortran-14
          - os: macos-15
            backend: cuda
          - os: macos-15
            backend: hip
          - compiler: gfortran-12
            backend: cuda
          - compiler: gfortran-12
            backend: hip
          - compiler: gfortran-13
            backend: cuda
          - compiler: gfortran-13
            backend: hip
          - compiler: gfortran-15
            backend: cuda
          - compiler: gfortran-15
            backend: hip

        include:
          - os: ubuntu-24.04
            setup-env: |
              echo "nproc=$(nproc)" >> $GITHUB_OUTPUT
              echo "os-version=$(lsb_release -ds | tr " " -)" >> $GITHUB_OUTPUT

          - os: ubuntu-24.04-arm
            setup-env: |
              echo "nproc=$(nproc)" >> $GITHUB_OUTPUT
              echo "os-version=$(lsb_release -ds | tr " " -)" >> $GITHUB_OUTPUT

          - os: macos-15
            setup-env: |
              brew install openmpi automake libtool
              echo "nproc=$(sysctl -n hw.ncpu)" >> $GITHUB_OUTPUT
              echo "os-version=$(sw_vers -productName)-$(sw_vers -productVersion)" >> $GITHUB_OUTPUT

    name: ${{ matrix.os }} - ${{ matrix.compiler }} - ${{ matrix.backend }} - ${{ matrix.precision }}
    env:
      FC: ${{ matrix.compiler }}
      OMPI_FC: ${{ matrix.compiler }}
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      RP: ${{ matrix.precision }}
      NEKO_EXEC: ${{ github.workspace }}/src/neko
      MAKENEKO_EXEC: ${{ github.workspace }}/makeneko

    steps:
      # ---------------------------------------------------------------------- #
      # System level setup
      # ---------------------------------------------------------------------- #

      - name: Setup - Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      # Setup compiler and other system dependencies
      - name: Setup - System dependencies (Cache)
        if: matrix.os == 'ubuntu-24.04' || matrix.os == 'ubuntu-24.04-arm'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: openmpi-bin autoconf automake autotools-dev make m4
          version: apt-cache-1.0
          execute_install_scripts: true

      # Install Non-Cacheable dependencies
      - name: Setup - System dependencies (Non-Cacheable)
        if: matrix.os == 'ubuntu-24.04' || matrix.os == 'ubuntu-24.04-arm'
        run: |
          sudo apt install -y libopenmpi-dev libopenblas-dev

      # Setup python environment
      - name: Setup - Python environment
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: "**/requirements-tests.txt"

      - name: Setup - Install Python dependencies
#        env:
#          MPICC: mpicc
#          MPI4PY_BUILD_WITH_MPI: "1"
#          PIP_NO_BINARY: "mpi4py"
        run: |
          pip install -r .github/workflows/extra/requirements-tests.txt
#          pip install --no-binary=mpi4py mpi4py


#      - name: Check MPI vendor used by mpi4py
#        run: |
#          python - << 'EOF'
#          from mpi4py import MPI
#          print("MPI vendor:", MPI.get_vendor())
#          print("MPI version:", MPI.Get_version())
#          EOF

#      - name: Debug MPI in CI
#        run: |
#          which mpirun || echo "mpirun not found"
#          mpirun --version || echo "mpirun --version failed"
#          echo "Running simple MPI hello..."
#          mpirun --oversubscribe -np 2 hostname


      # Setup matrix environment
      - name: Setup - Matrix environment
        id: setup-env
        run: ${{ matrix.setup-env }}

      # Setup device specific dependencies
      - name: Setup Device (CUDA)
        if: matrix.backend == 'cuda'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: nvidia-cuda-toolkit
          version: cuda-cache-1.0

      - name: Setup Device (HIP) - install rocm-dev
        if: matrix.backend == 'hip'
        run: |
          # Following the instructions from https://rocm.docs.amd.com/projects/install-on-linux/en/latest/install/quick-start.html

          wget -r -np -nd -A 'amdgpu*.deb' https://repo.radeon.com/amdgpu-install/latest/ubuntu/noble/
          sudo apt install ./amdgpu-install_*.deb
          sudo apt update
          sudo apt install -y rocm-dev

      - name: Setup Device (HIP) - install amdgpu-dkms
        if: matrix.backend == 'hip'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: amdgpu-dkms
          version: hip-cache-1.0

      # ---------------------------------------------------------------------- #
      # Dependencies setup
      # ---------------------------------------------------------------------- #

      - name: Dependencies - Setup
        id: setup-deps
        env:
          PFUNIT_VERSION: ${{ inputs.pfunit-version }}
          JSON_FORTRAN_VERSION: ${{ inputs.json-fortran-version }}
        run: |
          if [ -z "$PFUNIT_VERSION" ]; then PFUNIT_VERSION="v4.15.0"; fi
          if [ -z "$JSON_FORTRAN_VERSION" ]; then JSON_FORTRAN_VERSION="8.3.0"; fi

          echo "pfunit-version=$PFUNIT_VERSION" >> $GITHUB_OUTPUT
          echo "json-fortran-version=$JSON_FORTRAN_VERSION" >> $GITHUB_OUTPUT

      - name: Dependencies - Get pFunit
        id: get-pfunit
        if: matrix.backend == 'cpu'
        uses: ./.github/actions/setup_pfunit
        with:
          version: ${{ steps.setup-deps.outputs.pfunit-version }}
          os: ${{ steps.setup-env.outputs.os-version }}
          compiler: ${{ matrix.compiler }}

      - name: Dependencies - Get json-fortran
        id: get-json-fortran
        uses: ./.github/actions/setup_json-fortran
        with:
          version: ${{ steps.setup-deps.outputs.json-fortran-version }}
          os: ${{ steps.setup-env.outputs.os-version }}
          compiler: ${{ matrix.compiler }}

      # ---------------------------------------------------------------------- #
      # Build Neko
      # ---------------------------------------------------------------------- #

      - name: Build - Regenerate build system
        run: ./regen.sh

      - name: Build - Configure Neko
        env:
          PFUNIT_DIR: ${{ steps.get-pfunit.outputs.install-dir }}
          BACKEND: ${{ matrix.backend }}
        run: |
          if [ "$BACKEND" == 'cpu' ]; then

            mkdir ${{ github.workspace }}/install
            echo "PKG_CONFIG_PATH=${PKG_CONFIG_PATH}:${{ github.workspace }}/install/lib/pkgconfig" >> $GITHUB_ENV
            echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${{ github.workspace }}/install/lib" >> $GITHUB_ENV
            echo "${{ github.workspace }}/install/bin" >> $GITHUB_PATH
            ./configure FC=${FC} FCFLAGS="-g -O2 -pedantic -std=f2008 -w" --with-pfunit=$PFUNIT_DIR --enable-real=${RP} --prefix=${{ github.workspace }}/install

          elif [ "$BACKEND" == 'cuda' ]; then

            ./configure FC=${FC} FCFLAGS="-O2 -pedantic -std=f2008 -w" --enable-real=${RP} --with-cuda=/usr

          elif [ "$BACKEND" == 'hip' ]; then

            # Lets not hardcode the version
            ROCM_DIR=$(ls -d /opt/rocm-*)
            ./configure FC=${FC} FCFLAGS="-O2 -pedantic -std=f2008 -w" HIP_HIPCC_FLAGS="-O2 -fPIE" --enable-real=${RP} --with-hip=$ROCM_DIR

          elif [ "$BACKEND" == 'opencl' ]; then

            ./configure FC=${FC} FCFLAGS="-O2 -pedantic -std=f2008 -w" --enable-real=${RP} --with-opencl

          else

            echo "Unknown backend '$BACKEND'"
            exit 1

          fi

      - name: Build - Build Neko
        run: make -j ${{ steps.setup-env.outputs.nproc }}

      - name: Build - Install Neko
        if: matrix.backend == 'cpu'
        run: make -j ${{ steps.setup-env.outputs.nproc }} install

      # ---------------------------------------------------------------------- #
      # Testing
      # ---------------------------------------------------------------------- #

      - name: Test - Integration tests
        if: matrix.backend == 'cpu'
        run: |
           chmod +x $MAKENEKO_EXEC
           cd tests/integration
           pytest --max_nprocs=2 --real_precision=${RP}
           cd ../..

      - name: Test - Check
        if: matrix.backend == 'cpu'
        run: |
          make -j ${{ steps.setup-env.outputs.nproc }} check > tests/test-suite.log

      - name: Test - Archive test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: Test report - ${{ matrix.os }} - ${{ matrix.compiler }} - ${{ matrix.backend }} - ${{ matrix.precision }}
          retention-days: 2
          if-no-files-found: ignore
          path: |
            tests/unit/test-suite.log
            tests/integration/logs
            tests/integration/**/*.csv

      # ---------------------------------------------------------------------- #
      # Distribution build
      # ---------------------------------------------------------------------- #

      - name: Dist - Setup
        run: |
          make dist
          mkdir releng
          tar xf neko-*.tar.gz -C releng
          cd releng/neko-*

      - name: Dist - Configure
        run: |
          if [ ${{ matrix.backend }} == 'cpu' ]; then
              cd releng/neko-*
              ./configure FC=${FC} --enable-real=${RP}

          elif [ ${{ matrix.backend }} == 'cuda' ]; then

              cd releng/neko-*
              ./configure FC=${FC} --enable-real=${RP} --with-cuda=/usr

          elif [ ${{ matrix.backend }} == 'hip' ]; then

              ROCM_DIR=$(ls -d /opt/rocm-*)
              cd releng/neko-*
              ./configure FC=${FC} FCFLAGS="-fPIE" --enable-real=${RP} HIP_HIPCC_FLAGS="-O2 -fPIE" --with-hip=$ROCM_DIR

          elif [ ${{ matrix.backend }} == 'opencl' ]; then

              cd releng/neko-*
              ./configure FC=${FC} --enable-real=${RP} --with-opencl
          else
              echo "Unknown backend ${{ matrix.backend }}"
              exit 1
          fi

      - name: Dist - Build
        run: |
          cd releng/neko-*
          make -j ${{ steps.setup-env.outputs.nproc }}
