name: Check depend file

# Controls when the action will run.
on:
  workflow_call:
    inputs:
      json-fortran-version:
        description: "The version of the JSON-Fortran library to use."
        type: string
        required: false
        default: "8.3.0"

jobs:
  check_depend:
    name: "Dependencies (make depend)"
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    # Setup compiler and other system dependencies
    - name: Setup - System dependencies (Cache)
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: openmpi-bin autoconf automake autotools-dev make m4
        version: apt-cache-1.0
        execute_install_scripts: true

    - name: Setup - System dependencies (Non-Cacheable)
      id: setup-env
      run: |
        sudo apt-get install -y libopenmpi-dev libopenblas-dev makedepf90
        echo "os-version=$(lsb_release -ds | tr " " -)" >> $GITHUB_OUTPUT

    - name: Dependencies - Get json-fortran
      id: get-json-fortran
      uses: ./.github/actions/setup_json-fortran
      with:
        version: ${{ inputs.json-fortran-version }}
        os: ${{ runner.os }}
        compiler: gfortran

    - name: Run makedependf90
      run: |
        ./regen.sh
        ./configure FC=${FC}
        cd src/; make depend; cd ../

    - name: Check .depend
      run: |
        if [ ! -z "$(git diff --exit-code)" ]; then
            >&2 echo "Dependencies not up-to-date"
            git diff --exit-code
            exit 1
        fi
