name: GNU Fortran

# Controls when the action will run.
on:
  push:
    branches:
      - develop
      - ci/cache

  workflow_call:
    inputs:
      json-fortran-version:
        description: "The version of the JSON-Fortran library to use."
        type: string
        required: false
        default: "8.4.0"
      pfunit-version:
        description: "The version of the pFUnit library to use."
        type: string
        required: false
        default: "v4.4.2"

jobs:
  GNU:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-24.04, ubuntu-24.04-arm, macos-13, macos-15]
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        compiler: [gfortran-12, gfortran-13, gfortran-14, gfortran-15]
        backend: [cpu, cuda, hip, opencl]
        precision: [sp, dp]
        exclude:
          - os: ubuntu-24.04
            backend: opencl
          - os: ubuntu-24.04-arm
            backend: cuda
          - os: ubuntu-24.04-arm
            backend: hip
          - os: ubuntu-24.04-arm
            backend: opencl
          - os: ubuntu-24.04-arm
            compiler: gfortran-12
          - os: ubuntu-24.04-arm
            compiler: gfortran-13
          - os: ubuntu-24.04-arm
            compiler: gfortran-15
          - os: ubuntu-24.04
            compiler: gfortran-15
          - os: macos-13
            compiler: gfortran-12
          - os: macos-13
            compiler: gfortran-13
          - os: macos-13
            compiler: gfortran-14
          - os: macos-13
            backend: cuda
          - os: macos-13
            backend: hip
          - os: macos-15
            compiler: gfortran-12
          - os: macos-15
            compiler: gfortran-13
          - os: macos-15
            compiler: gfortran-14
          - os: macos-15
            backend: cuda
          - os: macos-15
            backend: hip
          - compiler: gfortran-12
            backend: cuda
          - compiler: gfortran-12
            backend: hip
          - compiler: gfortran-13
            backend: cuda
          - compiler: gfortran-13
            backend: hip
          - compiler: gfortran-15
            backend: cuda
          - compiler: gfortran-15
            backend: hip


        include:
          - os: ubuntu-24.04
            setup-env: |
              sudo apt install libopenmpi-dev
              python3 -m venv myenv
              source myenv/bin/activate
              pip install pytest json5 numpy
              echo "nproc=$(nproc)" >> $GITHUB_OUTPUT
              echo "os-version=$(lsb_release -ds | tr " " -)" >> $GITHUB_OUTPUT

          - os: ubuntu-24.04-arm
            setup-env: |
              sudo apt install libopenmpi-dev
              python3 -m venv myenv
              source myenv/bin/activate
              pip install pytest json5 numpy
              echo "nproc=$(nproc)" >> $GITHUB_OUTPUT
              echo "os-version=$(lsb_release -ds | tr " " -)" >> $GITHUB_OUTPUT

          # - os: macos-13
          #   setup-env: |
          #     brew install openmpi
          #     brew install automake
          #     brew install python
          #     python3 -m venv myenv
          #     source myenv/bin/activate
          #     pip install pytest json5 numpy
          #     echo "nproc=$(sysctl -n hw.ncpu)" >> $GITHUB_OUTPUT
          #     echo "os-version=$(sw_vers -productName)-$(sw_vers -productVersion)" >> $GITHUB_OUTPUT

          # - os: macos-15
          #   setup-env: |
          #     brew install openmpi
          #     brew install automake
          #     brew install libtool
          #     python3 -m venv myenv
          #     source myenv/bin/activate
          #     pip install pytest json5 numpy
          #     echo "nproc=$(sysctl -n hw.ncpu)" >> $GITHUB_OUTPUT
          #     echo "os-version=$(sw_vers -productName)-$(sw_vers -productVersion)" >> $GITHUB_OUTPUT

    name: ${{ matrix.os }} - ${{ matrix.compiler }} - ${{ matrix.backend }} - ${{ matrix.precision }}
    env:
      FC: ${{ matrix.compiler }}
      OMPI_FC: ${{ matrix.compiler }}
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none
      RP: ${{ matrix.precision }}
      NEKO_EXEC: ${{ github.workspace }}/src/neko
      MAKENEKO_EXEC: ${{ github.workspace }}/makeneko

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup system dependencies (Cache)
        if: matrix.os == 'ubuntu-24.04' || matrix.os == 'ubuntu-24.04-arm'
        id: system-deps
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: openmpi-bin autoconf \
                automake autotools-dev libopenblas-dev make git m4 python3 \
                python3-pip cmake-curses-gui
          version: 0.0.3

      - name: Setup env.
        id: setup-env
        run: ${{ matrix.setup-env }}

      - name: Setup dependencies
        id: setup-deps
        env:
          PFUNIT_VERSION: ${{ inputs.pfunit-version }}
          JSON_FORTRAN_VERSION: ${{ inputs.json-fortran-version }}
        run: |
          if [ -z "$PFUNIT_VERSION" ]; then PFUNIT_VERSION="v4.4.2"; fi
          if [ -z "$JSON_FORTRAN_VERSION" ]; then JSON_FORTRAN_VERSION="8.3.0"; fi

          echo "pfunit-version=$PFUNIT_VERSION" >> $GITHUB_OUTPUT
          echo "json-fortran-version=$JSON_FORTRAN_VERSION" >> $GITHUB_OUTPUT

      - name: Get pFunit
        id: get-pfunit
        if: matrix.backend == 'cpu'
        uses: ./.github/actions/setup_pfunit
        with:
          version: ${{ steps.setup-deps.outputs.pfunit-version }}
          os: ${{ steps.setup-env.outputs.os-version }}
          compiler: ${{ matrix.compiler }}

      - name: Get json-fortran
        id: get-json-fortran
        uses: ./.github/actions/setup_json-fortran
        with:
          version: ${{ steps.setup-deps.outputs.json-fortran-version }}
          os: ${{ steps.setup-env.outputs.os-version }}
          compiler: ${{ matrix.compiler }}

      - name: Add JSON-Fortran to environment
        env:
          JSON_FORTRAN_DIR: ${{ steps.get-json-fortran.outputs.install-dir }}
        run: |
          echo "PKG_CONFIG_PATH=${PKG_CONFIG_PATH}:$JSON_FORTRAN_DIR/lib/pkgconfig/" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$JSON_FORTRAN_DIR/lib/" >> $GITHUB_ENV

      - name: Build (CPU backend)
        if: matrix.backend == 'cpu'
        env:
          PFUNIT_DIR: ${{ steps.get-pfunit.outputs.install-dir }}
        run: |
          mkdir ${{ github.workspace }}/install
          echo "PKG_CONFIG_PATH=${PKG_CONFIG_PATH}:${{ github.workspace }}/install/lib/pkgconfig" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${{ github.workspace }}/install/lib" >> $GITHUB_ENV
          ./regen.sh
          ./configure FC=${FC} FCFLAGS="-g -O2 -pedantic -std=f2008 -w" --with-pfunit=$PFUNIT_DIR --enable-real=${RP} --prefix=${{ github.workspace }}/install
          make -j${{ steps.setup-env.outputs.nproc }} install

      - name: Build (CUDA backend)
        if: matrix.backend == 'cuda'
        run: |
          sudo apt-get install -y nvidia-cuda-toolkit
          ./regen.sh
          ./configure FC=${FC} FCFLAGS="-O2 -pedantic -std=f2008 -w" --enable-real=${RP} --with-cuda=/usr
          make -j${{ steps.setup-env.outputs.nproc }}

      - name: Build (HIP backend) - install amdgpu
        if: matrix.backend == 'HIP'
        run: |
          # Following the instructions from https://rocm.docs.amd.com/projects/install-on-linux/en/latest/install/quick-start.html

          wget -r -np -nd -A 'amdgpu*.deb' https://repo.radeon.com/amdgpu-install/latest/ubuntu/noble/
          sudo apt install ./amdgpu-install_*.deb

      - name: Build (HIP backend) - install ROCm
        if: matrix.backend == 'HIP'
        run: |
          sudo apt-get update && sudo apt-get install -y amdgpu-dkms rocm-dev

      - name: Build (HIP backend) - install Neko
        if: matrix.backend == 'HIP'
        run: |
          # Lets not hardcode the version
          ROCM_DIR=$(ls -d /opt/rocm-*)

          ./regen.sh
          ./configure FC=${FC} FCFLAGS="-O2 -pedantic -std=f2008 -w" HIP_HIPCC_FLAGS="-O2 -fPIE" --enable-real=${RP} --with-hip=$ROCM_DIR
          make -j ${{ steps.setup-env.outputs.nproc }}

      - name: Build (OpenCL backend)
        if: matrix.backend == 'opencl'
        run: |
          ./regen.sh
          ./configure FC=${FC} FCFLAGS="-O2 -pedantic -std=f2008 -w" --enable-real=${RP} --with-opencl
          make -j ${{ steps.setup-env.outputs.nproc }}

      - name: Integration tests
        if: matrix.backend == 'cpu'
        run: |
           source myenv/bin/activate
           chmod +x $MAKENEKO_EXEC
           cd tests/integration
           pytest --max_nprocs=2 --real_precision=${RP}
           cd ../..

      - name: Check
        if: matrix.backend == 'cpu'
        run: |
          make -j ${{ steps.setup-env.outputs.nproc }} check > tests/test-suite.log

      - name: Archive test report
        if: matrix.backend == 'cpu' && failure()
        uses: actions/upload-artifact@v4
        with:
          name: Test report - ${{ matrix.os }} - ${{ matrix.compiler }} - ${{ matrix.backend }} - ${{ matrix.precision }}
          path: tests/unit/test-suite.log
          retention-days: 2

      - name: Archive integration test report
        if: matrix.backend == 'cpu' && failure()
        uses: actions/upload-artifact@v4
        with:
          name: Integration test logs - ${{ matrix.os }} - ${{ matrix.compiler }} - ${{ matrix.backend }} - ${{ matrix.precision }}
          path: |
            tests/integration/logs
            tests/integration/**/*.csv
          retention-days: 1

      - name: Dist (CPU backend)
        if: matrix.backend == 'cpu'
        run: |
          make dist
          mkdir releng
          tar xf neko-*.tar.gz -C releng
          cd releng/neko-*
          ./configure FC=${FC} --enable-real=${RP}
          make -j ${{ steps.setup-env.outputs.nproc }}

      - name: Dist (CUDA backend)
        if: matrix.backend == 'cuda'
        run: |
          make dist
          mkdir releng
          tar xf neko-*.tar.gz -C releng
          cd releng/neko-*
          ./configure FC=${FC} --enable-real=${RP} --with-cuda=/usr
          make -j ${{ steps.setup-env.outputs.nproc }}

      - name: Dist (HIP backend)
        if: matrix.backend == 'hip'
        run: |
          make dist
          mkdir releng
          tar xf neko-*.tar.gz -C releng
          cd releng/neko-*
          ROCM_DIR=$(ls -d /opt/rocm-*)
          ./configure FC=${FC} FCFLAGS="-fPIE" --enable-real=${RP} HIP_HIPCC_FLAGS="-O2 -fPIE" --with-hip=$ROCM_DIR
          make -j ${{ steps.setup-env.outputs.nproc }}

      - name: Dist (OpenCL backend)
        if: matrix.backend == 'opencl'
        run: |
          make dist
          mkdir releng
          tar xf neko-*.tar.gz -C releng
          cd releng/neko-*
          ./configure FC=${FC} --enable-real=${RP} --with-opencl
          make -j ${{ steps.setup-env.outputs.nproc }}
