name: Linting

# Controls when the action will run. 
on:
  pull_request:
     branches: [develop,release/*,master]
  workflow_dispatch:
  
jobs:
  linting:
    name: "Flint"
    runs-on: ubuntu-latest
    steps:
   #  - name: Cache flinter
   #     id: cache-flinter
   #     uses: actions/cache@v2
   #     with:
   #       key: flinter
      - name: Setup env.
        #if: steps.cache-flinter.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update && sudo apt-get install python-dev python3-tk
          pip install flinter==0.4.0
#          pip install anybadge
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Lint
        run: |
          flint score src/ -d 10 -r flinter_rc.yml | tee flint.txt
          score=$(awk '$1==0{print $3}' flint.txt)
          if (( $(echo "$score < 8.00" |bc -l) )) ; then
            exit 1
          fi
 #         anybadge -l flint  -o --file=flint.svg -v $score  2=red 4=orange 8=yellow 10=green
#      - name: Archive linter badge
#        uses: actions/upload-artifact@v2
#        with:
#          name: flint-badge
#          path: flint.svg
#          retention-days: 5
      - name: Archive linter report
        uses: actions/upload-artifact@v2
        with:
          name: flint-report
          path: flint.txt
          retention-days: 5
          
